.container {
	background-color: aqua;
}

.size {
	margin-left: 250px;
}

.outer-div {
	height: 350px;
	overflow: hidden;
}
.inner-div1 {
	height: 300px;
	width: 100%;
	background-size: cover;
	background-position: center;
	transition: all 0.5s ease;
	background-image: url(../images/men.jpg);
	cursor: pointer;
}
.inner-div1:hover {
	transform: scale(1.2);
}
.inner-div2 {
	height: 300px;
	width: 100%;
	background-size: cover;
	background-position: center;
	transition: all 0.5s ease;
	background-image: url(../images/women.jpg);
	cursor: pointer;
}
.inner-div2:hover {
	transform: scale(1.2);
}
.inner-div3 {
	height: 300px;
	width: 100%;
	background-size: cover;
	background-position: center;
	transition: all 0.5s ease;
	background-image: url(../images/accessories.jpg);
	cursor: pointer;
}
.inner-div3:hover {
	transform: scale(1.2);
}
.zoom-box-text {
	text-align: center;
	line-height: 300px;
}
.zoom-box-text {
	color: white;
}
